main.pdf
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.fmt
**/*.fot
**/*.bcf
**/*.nav
**/*.snm
**/*.run.xml
**/*.cb
**/*.cb2
**/*.lb
**/*.bbl
**/*.blg
**/*.synctex.gz
**/*.fdb_latexmk